.hyprland-settings {
    font-weight: 700;
}

.transparent-button {
    background: unset;
    background-color: unset;
    font-weight: 500;
}
.checkbutton-container {
    margin: 0 6px;
}

.list-box-scroll {
    background: transparent;

    .list-box-row {
        border-radius: 6px;
        padding: 0 12px;
        margin: 0 6px 2px 6px;
        min-height: 40px;

        label {
            font-size: 14.6px;
            font-weight: 400;
        }
    }

    separator {
        margin: 6px;
    }
}
